.sidePanel__category-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 50px;
  border: none;
  padding: 5px;
  box-sizing: border-box;
  margin: 5px;
  cursor: pointer;
}

.sidePanel__category-icon {
  margin-right: 5px;
}

.sidePanel__category-btn_select {
  background-color: #84dcff;
}

.sidePanel__category-btn:hover {
  background-color: #84dcff;
}
