.channelDetail {
  min-height: 95vh;
  align-items: center;
}

.channelDetail__gradient {
  background-color: red;
  z-index: 10;
  height: 300px;
}

.channelDetail__video-container {
  flex-wrap: wrap;
  padding: 0 20px 0;
  width: 100%;
  box-sizing: border-box;
}
