.videoItem__card {
  height: 180px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.videoItem__card-image {
  width: 100%;
}

.videoItem__card-content {
  background-color: #1e1e1e;
  height: 106px;
}

.videoItem__card-typography {
  font-weight: bold;
  color: gray;
}

.videoItem__card-checkCircle {
  font-size: 12px;
  color: gray;
  margin-left: 5px;
}
